
html, body { border: 0; margin: 0; padding: 0; }
body { font: 100% "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif; min-width: 100%; min-height: 101%; color: #000; background:#000; }


p, label, legend { font: 1em "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif; }

h1 { margin: 10px 20px 10px; font-size: 20px; color: #f6d923; }
hr { color: inherit; height: 0; margin: 6px 0 6px 0; padding: 0; border: 1px solid #d9d9d9; border-style: none none solid; }



section { 
	display: block; 
	width: 800px; 
	margin: 10px auto; 
	padding: 35px; 
	border: 1px solid #cbcbcb; 
	background-color: #a2a2a2; 
	
	-webkit-border-radius:5px; 
	-moz-border-radius:5px; 
	border-radius:5px; 
	
	box-shadow: 0 2px 5px rgba(50, 50, 50, 0.1);
	-webkit-box-shadow: 0 2px 5px rgba(50, 50, 50, 0.1);
	-moz-box-shadow: 0 2px 5px rgba(50, 50, 50, 0.1);
}

/* Special CSS for Call Controls Section */
fieldset.salesOrder {
padding: 7px;
}


fieldset.callControls {
    padding: 3px;
    margin: 4px;
    -webkit-transition:margin-left 1s ease-in-out;
    z-index:1;
}

button.callControls{
     margin:2px 2px;
     display: inline-block;
     border:1px solid #bfbfbf;
  /*   color: #8c8c8c;*/
     border-radius: 5px 5px 5px 5px;
     -webkit-border-radius: 5px 5px 5px 5px;
     -moz-border-radius: 5px 5px 5px 5px;
     font-family: Verdana;
     width: auto;
     height: auto;
     font-size: 12px;
     padding: 10px 10px;
     box-shadow: inset 0 1px 0 0 #fff,inset 0 -1px 0 0 #d9d9d9,inset 0 0 0 1px #f2f2f2,0 2px 4px 0 #f2f2f2;
     -moz-box-shadow: inset 0 1px 0 0 #fff,inset 0 -1px 0 0 #d9d9d9,inset 0 0 0 1px #f2f2f2,0 2px 4px 0 #f2f2f2;
     -webkit-box-shadow: inset 0 1px 0 0 #fff,inset 0 -1px 0 0 #d9d9d9,inset 0 0 0 1px #f2f2f2,0 2px 4px 0 #f2f2f2;
     text-shadow: 0 1px 0 #fff;
     background-image: linear-gradient(to top, #f2f2f2, #f2f2f2);
     background-color: #f2f2f2;
}
button.callControls:hover, button.callControls:active{
     border:1px solid #8c8c8c;
     color: #8c8c8c;
     box-shadow: inset 0 1px 0 0 #ffffff,inset 0 -1px 0 0 #d9d9d9,inset 0 0 0 1px #f2f2f2;
     -moz-box-shadow: inset 0 1px 0 0 #ffffff,inset 0 -1px 0 0 #d9d9d9,inset 0 0 0 1px #f2f2f2;
     -webkit-box-shadow: inset 0 1px 0 0 #ffffff,inset 0 -1px 0 0 #d9d9d9,inset 0 0 0 1px #f2f2f2;
     background-color: #f2f2f2;
}


/* Form style */

mark.validate {
	display: inline-block;
	margin: 12px 0 0 10px;
	width: 16px;
	height: 16px;
	background: transparent none;
}
mark.valid {
	background: url(../assets/success.gif) no-repeat top left;
}
mark.error {
	background: url(../assets/error.gif) no-repeat top left;
}

form label, section label { 
	display: inline-block; 
	float: left; 
	height: 1em; 
	line-height: 1em; 
	padding: 6px 0 0;
	width: 135px; 
	font-size: 1em; 
	margin: 5px 0; 
	clear: both;	
	font-weight: bold;
}

form label small, section label small {
	font-size: 0.75em;
	color: #ccc;
}

form label.verify {
	padding: 0;
	margin: 2px 10px 2px 0;
	width: 145px; 
	text-align: right;
}
form label.verify img {
	padding:1px; 
	border:1px solid #cccccc;
	-webkit-border-radius:3px; 
	-moz-border-radius:3px; 
	border-radius:3px; 
}

form button  {
        width: 120px; 
        padding: 4px;
        color: #666;
        background: #f5f5f5;
        border: 1px solid #ccc;
        margin: 5px 0;
        font:1em "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
        -webkit-border-radius:5px;
        -moz-border-radius:5px;
        border-radius:5px;
        vertical-align: top;

        transition: all 0.25s ease-in-out;
        -webkit-transition: all 0.25s ease-in-out;
        -moz-transition: all 0.25s ease-in-out;

        box-shadow: 0 0 5px rgba(81, 203, 238, 0);
        -webkit-box-shadow: 0 0 5px rgba(81, 203, 238, 0);
        -moz-box-shadow: 0 0 5px rgba(81, 203, 238, 0);
}


form input, form textarea, form select, section select, section input, section textarea  { 
	width: 435px; 
	padding: 5px; 
	color: #666; 
	background: #f5f5f5; 
	border: 1px solid #ccc; 
	margin: 5px 0; 
	font:1em "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif; 
	-webkit-border-radius:5px; 
	-moz-border-radius:5px; 
	border-radius:5px; 
	vertical-align: top;
	
	transition: all 0.25s ease-in-out; 
	-webkit-transition: all 0.25s ease-in-out; 
	-moz-transition: all 0.25s ease-in-out; 
	
	box-shadow: 0 0 5px rgba(81, 203, 238, 0); 
	-webkit-box-shadow: 0 0 5px rgba(81, 203, 238, 0); 
	-moz-box-shadow: 0 0 5px rgba(81, 203, 238, 0); 
} 
form select {
	width: 352px; 
	margin: 8px 0;
}
form input#verify {
	width: 55px;
}
form textarea, section textarea { 
	width: 414px; 
}
form input:focus, form textarea:focus, form select:focus, form button:focus, section input:focus, section textarea:focus, section select:focus, section button:focus  { 
	border: 1px solid #ddd; 
	background-color: #fff; 
	color:#333; 
	outline: none;
	position: relative;
	z-index: 5;
	
	box-shadow: 0 0 5px rgba(81, 203, 238, 1);
	-webkit-box-shadow: 0 0 5px rgba(81, 203, 238, 1);
	-moz-box-shadow: 0 0 5px rgba(81, 203, 238, 1);
	
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	
	transition: all 0.25s ease-in-out; 
	-webkit-transition: all 0.25s ease-in-out; 
	-moz-transition: all 0.25s ease-in-out; 
}
form input.error, form textarea.error, form select.error {
	box-shadow: 0 0 5px rgba(204, 0, 0, 0.5);
	-webkit-box-shadow: 0 0 5px rgba(204, 0, 0, 0.5);
	-moz-box-shadow: 0 0 5px rgba(204, 0, 0, 0.5);
	border: 1px solid #faabab;
	background: #fef3f3
}
form input.submit { 
	width: auto; 
	cursor: pointer; 
	position: relative;
	border: 1px solid #282828; 
	color:#fff; 
	padding: 6px 16px;
	text-decoration: none;
	font-size: 1.1em;
	
	background:#555; 
	
	background:-webkit-gradient(
	    linear,
	    left bottom,
    	left top,
	    color-stop(0.12, rgb(60,60,60)),
	    color-stop(1, rgb(85,85,85))
	);
	background:-moz-linear-gradient(
	    center bottom,
	    rgb(60,60,60) 12%,
    	rgb(85,85,85) 100%
	);
	
	box-shadow: 0 2px 3px rgba(0,0,0,0.25);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.25);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.25);
	
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
}
form input.submit:hover { 
	background: #282828 !important; 
	transition: none;
	-webkit-transition: none;
	-moz-transition: none; 
}
form input.submit:active, form input.submit:focus { 
	top: 1px; 
}

form button.delete-comment {
        width: auto;
        cursor: pointer;
        position: relative;
        border: 1px solid #282828;
        color:#fff;
	border-radius:5px;
        padding: 6px 16px;
        text-decoration: none;
        font-size: 1.1em;

        background:#555;

        background:-webkit-gradient(
            linear,
            left bottom,
        left top,
            color-stop(0.12, rgb(60,60,60)),
            color-stop(1, rgb(85,85,85))
        );
        background:-moz-linear-gradient(
            center bottom,
            rgb(60,60,60) 12%,
        rgb(85,85,85) 100%
        );

        box-shadow: 0 2px 3px rgba(0,0,0,0.25);
        -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.25);
        -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.25);

        text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
}

.copy{
	width: 30px;
	height: 29px;
	padding: 5px;
        color: #666;
        background: #f5f5f5;
        border: 1px solid #ccc;
        margin: 5px 0;

}

form button.delete-comment:hover {
        background: #282828 !important;
        transition: none;
        -webkit-transition: none;
        -moz-transition: none;
}
form button.delete-comment:active, form button.delet-comment:focus {
        top: 1px;
}

form button:hover {
            background: #eeeeee;
                    transition: none;
                            -webkit-transition: none;
                                    -moz-transition: none;
                                }


form input[type="submit"][disabled] { background:#888; }
form fieldset { padding:7px; border:1px solid #eee; -webkit-border-radius:5px; -moz-border-radius:5px; margin:0 0 20px; }
form legend { padding:7px 10px; font-weight:bold; color:#000; border:1px solid #eee; -webkit-border-radius:5px; -moz-border-radius:5px; margin-bottom:0 !important; margin-bottom:20px; }

form span.required{ font-size: 13px; color: #ff0000; } /* Select the colour of the * if the field is required. */
section span.required{ font-size: 13px; color: #ff0000; }
 fieldset  { padding:20px; border:1px solid #eee; -webkit-border-radius:5px; -moz-border-radius:5px; margin:0 0 20px; }
legend { padding:7px 10px; font-weight:bold; color:#000; border:1px solid #eee; -webkit-border-radius:5px; -moz-border-radius:5px; margin-bottom:0 !important; margin-bottom:20px; }




#message { margin: 1em 0; padding: 0; display: block; background: transparent none; }

.error_message { display: block; height: 22px; line-height: 22px; background: #FBE3E4 url('../assets/error.gif') no-repeat 10px center; padding: 3px 10px 3px 35px; color:#8a1f11;border: 1px solid #FBC2C4; -webkit-border-radius:5px; }

.loader { padding: 0 10px; }

form #success_page h1 { background: url('../assets/success.gif') left no-repeat; padding-left:22px; }

acronym { border-bottom:1px dotted #ccc; }
